<%- include("partials/header")%>

    <div class="body-div landing-page">
        <h1>Hi!</h1>
        <div class="inp-bar">
            <form action="/list" method-="post">
                <input class="name-inp"  type="text" name="username" placeholder="Enter your name" />
                <button id="btn-submit" class="btn" type="submit">Go</button>
            </form>
        </div>
    </div>

    <%- include("partials/footer")%>